.clickable:hover {
	cursor: pointer;
}

#sourceList {
  max-height: 55vh;
  overflow: auto;
}

#sourceList .source:hover {
	cursor: pointer;
	background: #e3e3e3e3;
}

#sourceList .source {
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
}

#sourceList .checked {
	background: #f1f1f1f1;
}
