.newsSelectButtonHeader {
	background: white;
	margin-left: 0px;
	margin-right: 0px;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 8888;
	padding-left: 7px;
	padding-right: 7px;
	padding-bottom: 0px;
	padding-top: 50px;
}

.newsSelectButtonHeader .label:hover {
	cursor: pointer;
}

.newsSelect .source:hover {
	cursor: pointer;
	background: #e3e3e3e3;
}

.newsSelect .source {
	border-radius: 5px;
	margin: 5px;
}

.newsSelect .checked {
	background: #f1f1f1f1;
}

.newsSelectListWrapper {
	padding: 10px;
	padding-top: 9em;
}
