.wpmText {
}

.statsDisplay {
  font-size: 10px;
  background-color: rgb(200, 200, 200);
  width: auto;
  float: bottom;
}

.textDisplay {
  font-size: 1.5em;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;

  line-height: 2em;
  white-space: pre; /*prevents spaces from disappearing*/
  padding-bottom: 2em;
  font-family: monospace;
}

.word {
  display: flex;
  flex-wrap: nowrap;
}

.charActive {
  background-color: #24a691;
  border-radius: 3px 3px 3px 3px;
  color: #ffffff;
}

.charCorrect {
  color: #a9abad;
}

.charIncorrect {
  background-color: FireBrick;
  border-radius: 3px 3px 3px 3px;
  color: #ffffff;
}

.endFill {
  display: flex;
  flex-grow: 1;
}
