html {
}

body,
html {
}

.headerBox {
	color: white;
	background: linear-gradient(105deg, SeaGreen, LightSeaGreen);
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 100px;
	width: 100%;
	position: fixed;
	top: 0px;
	z-index: 9999;
}

.logoTopLeft {
	max-width: 25px;
	margin: 5px;
}

.button {
	text-align: right !important;
	margin: 3px !important;
	padding: 10px !important;
}

.icon {
	padding: 0px !important;
	margin: 0px !important;
}
